# This configuration file contains the cyber wolf settings
# Lines that start with a "#" are interpereted as comments
# Key-value pairs must be seperated by the "=" sign
# Keys and values cannot contain the "=" sign

# Dataset path is the directory where the preprocessor saves it's output
dataset_path=/home/mathuis/Development/cyber_wolf/data/datasets

# Ignore file is the file containing the values that the preprocessor ought to ignore
ignore_file=/home/mathuis/Development/cyber_wolf/rel/cyberwolf.ignore

# Request path is the directory where requests are stored for training
request_path=/home/mathuis/Development/cyber_wolf/data/requests

# Model path is the directory that stores the models for cyber wolf
model_path=/home/mathuis/Development/cyber_wolf/data/models

# Model name is the model that is to be used by cyberwolf
model_name=best-class-model.h5

# Epsilon determines the size of the blocking threshold above 1 standard deviation
epsilon=0.45

# Thresh D (Threshold Detection) determines the maximum standard deviation untill detection is enabled
threshd=0.1

# If you want to train and validate a model yourself you should set the Adversarial path value
# This is the place where your plain text cyberattacks are stores so you can evaluate model performance
adversarial_path=/home/mathuis/Development/cyber_wolf/data/adversarial
